<!DOCTYPE HTML>

<script src="/javascripts/level451web.js"> </script>
<script src="/javascripts/ReconnectingWebSocket.js"> </script>
<script src="/javascripts/graph.js"> </script>
<link rel="stylesheet" type="text/css" href="/stylesheets/level451.css">

<html>



<html>

<input class="neverdisplay" type="checkbox" id="showhideEdittoggle" />
<label id="showhideEdit" for="showhideEdittoggle"></label>

<div id="Edit">
<div id="graphtitle">
    <h1 id="title" onblur='nameChange()' onkeydown='if (event.keyCode == 13){nameChange();return false;}'></h1>
</div>
<div id="graphheader">

<select id="graph" onchange="refreshNewGraph()"></select>

    <button onclick="savesettings()">Save</button>
    <button onclick="query('avg1440',new Date(g.start.value*1),new Date(g.end.value*1));">splice day</button>
    <button onclick="query('avg60',new Date(g.start.value*1),new Date(g.end.value*1));">splice hour</button>
    <button onclick="query('avg1',new Date(g.start.value*1),new Date(g.end.value*1));">splice min</button>
    <button onclick="query('log',new Date(g.start.value*1),new Date(g.end.value*1));">splice</button>
</div>


<div id="editItemsOnGraph">

    <select ID="selectedgatherer" onchange="refreshavailablesensors(this)">
        <%for (var prop in gathererSettings.id){%>
        <option value =<%=prop%>><%=gathererSettings.id[prop].name+"("+prop+")"%></option>
        <%}%>
    </select>

    <select id="availablesensors" onchange=""></select>
    <button onclick="addsensortograph()">Add to Graph</button>


    <select id="graphitems" size="1" width = "100" onchange="graphItemsOnChange()"></select>
    <button onclick="removeItemFromGraph()">Remove</button>
    <input type="color" id="color" onchange="gc_change()">

    <input class="minmax" type="number" id="daysData" onchange="gc_change()"> Days of Data
    <select ID="daysDataResolution" onchange="gc_change()">
        <option value ="avg1440">Day Avg</option>
        <option value ="avg60">Hour Avg</option>
        <option value ="avg1">Min Avg</option>
        <option value ="log">Actual</option>
    </select>
        <input class = "minmax" type ="number" default ="1" id="multiplier"onchange="gc_change()"> Multiplier
    </div>


<input type="checkbox" id="hideeditItemsOnGraph" onchange="gc_change()" >Hide Add Items
<input class="neverdisplay" type="range" min="0" max="255" step="1" id="g1_start" >
<input class="neverdisplay" type="range" min="0" max="255" step="1" id="g1_end" >

<div id="overviewgraphdiv" style="width: 1200px;">


    <canvas id="g1_overview" width="1200px" height="100px" style="border:1px solid #000000; position: relative; left: 0; top: 0;z-index: 1;" tabindex="1"></canvas>
    <canvas id="g1_overviewindicator" width="1200px" height="100" style="border:1px solid #000000;position: absolute; left: 0; top: 0; z-index: 0;" tabindex="1"></canvas><br>
</div>
    <div id  = "buttons"></div>

</div>
<div id="graphdiv">
    <div>
    <input class="neverdisplay" type="checkbox" id="showhidezoomtoggle" />
    <label id="showhidezoom" for="showhidezoomtoggle"></label>

    <div  id = "zoom"  >

        <button id="details" type="button" data-sensor="" onclick="details();">Details</button>
        <button onclick="rescale(0,.08333)">Last 5</button>
        <button onclick="rescale(0,.25)">Last 15</button>
        <button onclick="rescale(0,1)">Last Hour</button>
        <button onclick="rescale(0,3)">Last 3</button>
        <button onclick="rescale(0,6)">Last 6</button>
        <button onclick="rescale(0,12)">Last 12</button>
        <button onclick="rescale(0,24)">Last 24</button>
        <input class = "minmax" type="number"   step="1" id="min"  onchange="gc_change()" > Min
        <input class = "minmax"type="number"  step="1" id="max"   onchange="gc_change()" > Max

        <button onclick="autominmax(document.getElementById('graphitems').value)">Autoscale</button>
    </div>



    <canvas id="g1_maingraph" height ="400px" width="1200px"  style="border:1px solid #000000; position: relative; left: 0; top: 0;z-index: 0;" tabindex="1"></canvas>
    <canvas id="g1_maingraphscale" height = "400px" width="1200px" style="border:1px solid #000000;position: absolute; left: 0; top: 0; z-index: 1;" tabindex="1"></canvas>


</div>



</div>
</body>
</html>
<script>
    window.addEventListener("load",onload, false);
    var gatherer=<%-JSON.stringify(gathererSettings)%> // load the settings from the setting collection
    function onload(){
        WebSocketSetup(); // start the websocket
        g = new graph("g1");

        mouse={};
        g.maingraphscale.addEventListener("mousedown", g.mousedown,false);
        g.maingraphscale.addEventListener("mouseup", g.mouseup,false);
        g.maingraphscale.addEventListener("mouseout", g.mouseup,false);
        g.maingraphscale.addEventListener("mousewheel", g.mousewheel,false);
        g.maingraphscale.addEventListener("touchstart", g.touchstart,false);
        g.maingraphscale.addEventListener("touchend", g.touchend,false);
        window.addEventListener("resize",resize,false);

        if (gatherer.graph == undefined){
            gatherer.graph = [];
            gatherer.graph[0] = {};
            gatherer.graph[0].name="Graph 0";
            gatherer.graph[0].sensor={};

    }
        refreshavailablesensors(setGraphFromName("<%=graph%>"));

    if (setGraphFromName("<%=graph%>") > -1)
    {
    }else
    {

       addNewGraph("<%=graph%>");


    }
    var sg =gatherer.graph[document.getElementById("graph").value];

        document.getElementById("title").innerHTML=sg.name;


        //resize();
    }
    function msghandler(indata){
        s=JSON.parse(indata);
        //console.log(s);
        if (s.dataType == "Serial")
        {
            s.Time = new Date().getTime();
            delete s.dataType;
            g.data.push(s);

        }


        if (s.packettype == "query") // got query data from silo
        {
            // convert all the stupid text dates to numbers
            for (i=0;i< s.data.length;++i){
                s.data[i].Time = new Date(s.data[i].Time).getTime();
            }
            g.addData(s.data,new Date(s.startTime).getTime(), new Date(s.endTime).getTime());


            g.drawOverview();
            if (s.options == "init"){
                refreshbuttons();
                graphItemsOnChange();
                g.end.value = g.end.max;
                g.start.value = g.end.value-(24*60*60000);
                g.drawMain();
                g.realtimeTimer = setInterval("g.checkTime()",100);

                return;

            }



            if(s.type=="avg60"){

                g.drawMain();
                return;

            }
            if(s.type=="avg1"){
                g.drawMain();
                g.realtimeTimer = setInterval("g.checkTime()",100);

                return;

            }
             if(s.type=="log"){
                g.drawMain();
                return''
            }
        }



    }
function refreshavailablesensors(graphid){
   // var type = document.getElementById("availablesensors");
var selectedgatherersensor = (gatherer.id[document.getElementById("selectedgatherer").value].sensor)   ;
    var temp='';
    for (var prop in selectedgatherersensor){
        if (selectedgatherersensor[prop].available){
            temp=temp+'<option value="'+prop+'">'+selectedgatherersensor[prop].name+'('+prop+')</option>';

        }

    }
    document.getElementById("availablesensors").innerHTML=temp;

    temp='';
    if (graphid >-1){
        var savevalue = graphid
    }else{
        var savevalue = document.getElementById("graph").value;
    }


    for (var prop in gatherer.graph){
           temp=temp+'<option value="'+prop+'">'+gatherer.graph[prop].name+'('+prop+')</option>';
        }
    document.getElementById("graph").innerHTML=temp;
    if (savevalue != ""){   document.getElementById("graph").value =  savevalue;}
    temp='';
    for (var prop in gatherer.graph[document.getElementById("graph").value].sensor)

    {
        temp=temp+'<option value="'+prop+'">'+sensorNametoUserName(prop)+'</option>';

    }

    document.getElementById("graphitems").innerHTML=temp;
    var temp='';
   g.selected = "";
    for (var prop in gatherer.graph[document.getElementById("graph").value].sensor)
    {

        temp=temp+'<button type="button" id="b_'+prop+'" data-sensor="'+prop+'" onclick="showHide(this);">'+sensorNametoUserName(prop)+'</button>';
        if (gatherer.graph[document.getElementById("graph").value].sensor[prop].selected){
           g.selected = prop;
        }


    }
    temp=temp+'<button type="button" data-sensor="" onclick="selectNone();">Select None</button>';

    document.getElementById("buttons").innerHTML=temp;

}
    function addsensortograph(){
        if (gatherer.graph[document.getElementById("graph").value].sensor[document.getElementById("availablesensors").value+'_'+document.getElementById("selectedgatherer").value] == undefined)
        {
            // wow gatherer.graph[id].sensor[sensor]
            var id=document.getElementById("graph").value;
            var sensor =document.getElementById("availablesensors").value+'_'+document.getElementById("selectedgatherer").value;
            gatherer.graph[id].sensor[sensor] = {};
            gatherer.graph[id].sensor[sensor].visible = true;
            gatherer.graph[id].sensor[sensor].color = "#508050";
            autominmax(sensor);

        }
        refreshavailablesensors();

        g.drawMain();
        g.drawOverview();
    }
    function autominmax(sensor){
        var id=document.getElementById("graph").value;
        var min= 99999;
        var max=-99999;
        g.drawMain();

        for (var i = g.startelement; i<g.endelement;++i){
        //for (var i = 0; i<g.data.length;++i){
           if (g.data[i][sensor] < min){
                min = g.data[i][sensor];
            }
            if (g.data[i][sensor] > max){
                max = g.data[i][sensor];
            }
        }

        var padding = (max- min)*.1;
        gatherer.graph[id].sensor[sensor].max = (max + padding)*gatherer.graph[id].sensor[sensor].multiplier;
        gatherer.graph[id].sensor[sensor].min = (min - padding)*gatherer.graph[id].sensor[sensor].multiplier;
//        console.log("min", gatherer.graph[id].sensor[sensor].min,min);
//        console.log("max", gatherer.graph[id].sensor[sensor].max.max);
       graphItemsOnChange();
        gc_change();
        g.drawMain();
        g.drawscale(g.maingraphscale);
    }
function gc_change(){
    var sg =  gatherer.graph[document.getElementById("graph").value];
    // this is what sets the gatherer values from the form controls
   //sg.gmax = document.getElementById("gmax").value;
    //sg.gmin = document.getElementById("gmin").value;
    sg.hideeditItemsOnGraph=document.getElementById("hideeditItemsOnGraph").checked;
    if (sg.hideeditItemsOnGraph){
        document.getElementById("editItemsOnGraph").style.display="none";
    }else
    {
        document.getElementById("editItemsOnGraph").style.display="inline";
    }

    if ((sg.daysData != document.getElementById("daysData").value && document.getElementById("daysData").value > 0)
            || sg.daysDataResolution != document.getElementById("daysDataResolution").value){
        sg.daysDataResolution =document.getElementById("daysDataResolution").value;
        sg.daysData = document.getElementById("daysData").value;
        if (sg.daysDataResolution == undefined){sg.daysDataResolution = 'avg60'}


        g.data=[];
        g.dataStart = 0;
        g.dataEnd=0;
        g.startelement = 0;
        g.endelement = 0;
        query( sg.daysDataResolution,new Date(new Date()-((24*sg.daysData)*60*60000)),new Date(),'init',new Date());

    }


    var x = sg.sensor[document.getElementById("graphitems").value];
    if (x == undefined){return;}

    x.color = document.getElementById("color").value;
    x.min=document.getElementById("min").value;
    x.max=document.getElementById("max").value;
    x.multiplier = document.getElementById("multiplier").value;



    g.drawMain();
    g.drawOverview();
    g.drawscale(g.maingraphscale);


}

function graphItemsOnChange(){
   // I know the name is stupid
    // this is what sets the values of the controls on the form
    var sg =  gatherer.graph[document.getElementById("graph").value];
    if (sg.hideeditItemsOnGraph){
        document.getElementById("editItemsOnGraph").style.display="none";
    }else
    {
        document.getElementById("editItemsOnGraph").style.display="inline";
    }
    document.getElementById("daysDataResolution").value = sg.daysDataResolution;
    document.getElementById("hideeditItemsOnGraph").checked = sg.hideeditItemsOnGraph;

    var thisgraph = gatherer.graph[document.getElementById("graph").value];
    if (thisgraph.daysData != undefined)
    {document.getElementById("daysData").value = thisgraph.daysData;}

    if (document.getElementById("graphitems").value == ""){

    document.getElementById("max").value="";
    document.getElementById("min").value="";
    document.getElementById("color").value="";
    document.getElementById("multiplier").value="";
    return;
}
    var x = gatherer.graph[document.getElementById("graph").value].sensor[document.getElementById("graphitems").value];

//document.getElementById("graphitems").value;
    for (var sensor in gatherer.graph[document.getElementById("graph").value].sensor)
    {gatherer.graph[document.getElementById("graph").value].sensor[sensor].selected = false;}
    gatherer.graph[document.getElementById("graph").value].sensor[document.getElementById("graphitems").value].selected = true;
    console.log("here");
    g.selected = document.getElementById("graphitems").value;
    g.drawMain();




    if (x == undefined){return;}
    if (x.color != undefined){document.getElementById("color").value = x.color;}
    if (x.max != undefined){document.getElementById("max").value=x.max;}
    if (x.min != undefined){document.getElementById("min").value=x.min;}
    if (x.multiplier != undefined){document.getElementById("multiplier").value=x.multiplier;}
    //if (gatherer.graph[document.getElementById("graph").value].gmax == undefined){document.getElementById("gmax").value = 100;}
    //if (gatherer.graph[document.getElementById("graph").value].gmin == undefined){document.getElementById("gmin").value = 0;}
    //gatherer.graph[document.getElementById("graph").value].gmax = document.getElementById("gmax").value;

    g.drawscale(g.maingraphscale);
    refreshbuttons();

}

    function resize(){
        var newwidth = g.maingraph.parentElement.clientWidth;
        g.width = newwidth;
        g.overviewCanvas.width = newwidth;
        g.overviewindicatorCanvas.width = newwidth;
        g.maingraph.width = newwidth;
        g.maingraphscale.width = newwidth;
console.log("resize");
        g.drawMain();
        g.drawOverview();

    }

function showHide(e){
var data = e.dataset;
    var x = gatherer.graph[document.getElementById("graph").value].sensor[data.sensor];

//    for (var sensor in gatherer.graph[document.getElementById("graph").value].sensor)
//    {gatherer.graph[document.getElementById("graph").value].sensor[sensor].selected = false;}

    if (x.selected){

        x.visible = false;
        x.selected = false;
        document.getElementById("graphitems").value = "";
        g.selected = "";

    } else if (x.visible){
        document.getElementById("graphitems").value = data.sensor;
        x.selected = true;
       g.selected = data.sensor;

    } else
    {
        x.visible = true;

    }

    graphItemsOnChange();
    g.drawMain();
    g.drawOverview();
    refreshbuttons();

}
function selectNone(){
    g.selected = "";
    document.getElementById("graphitems").value = "";
    for (var sensor in gatherer.graph[document.getElementById("graph").value].sensor)
    {gatherer.graph[document.getElementById("graph").value].sensor[sensor].selected = false;
        document.getElementById("b_"+sensor).style.color="";
        if (gatherer.graph[document.getElementById("graph").value].sensor[sensor].visible == true){
        document.getElementById("b_"+sensor).style.background="";

    } else
    {
        document.getElementById("b_"+sensor).style.background="'#FFFFFF'";
    }
    }
    refreshbuttons();
   graphItemsOnChange();
    g.drawMain();



}
function refreshbuttons(){
    g.selected ="";
    if (gatherer.graph[document.getElementById("graph").value].details == undefined || gatherer.graph[document.getElementById("graph").value].details == 0 )
    {
        document.getElementById("details").innerHTML = "No Details"
    }else   if (gatherer.graph[document.getElementById("graph").value].details == 1){
        document.getElementById("details").innerHTML = "Low Details"

    }else   if (gatherer.graph[document.getElementById("graph").value].details == 2){
        document.getElementById("details").innerHTML = "Mid Details"

    }else   if (gatherer.graph[document.getElementById("graph").value].details == 3){
        document.getElementById("details").innerHTML = "High Details"

    }



    for (var sensor in gatherer.graph[document.getElementById("graph").value].sensor)
    {

        document.getElementById("b_"+sensor).style.color="#FFFFFF";
        //selected
        if (gatherer.graph[document.getElementById("graph").value].sensor[sensor].selected == true){
            g.selected = sensor;
            document.getElementById("b_"+sensor).style.font="bold 12px arial";
            document.getElementById("b_"+sensor).style.background=gatherer.graph[document.getElementById("graph").value].sensor[sensor].color;
            document.getElementById("graphitems").value = sensor;

        }else
        {

            if (gatherer.graph[document.getElementById("graph").value].sensor[sensor].visible == true){
                document.getElementById("b_"+sensor).style.font="12px arial";
                document.getElementById("b_"+sensor).style.background=gatherer.graph[document.getElementById("graph").value].sensor[sensor].color;
            } else
            {
                //hidden
                gatherer.graph[document.getElementById("graph").value].sensor[sensor].selected = false;
                document.getElementById("b_"+sensor).style.font="italic 8px arial";
                document.getElementById("b_"+sensor).style.background="#c0c0c0";
            }
        }
}
}function rescale(e,s)
    {
        g.start.value = new Date().getTime()-(s*60000*60);
        g.end.value = new Date().getTime()-(e*60000*60);
        g.drawMain();
    }
function addNewGraph(name)
{
    gatherer.graph.push({});

    refreshavailablesensors();
    document.getElementById("graph").value = gatherer.graph.length-1;
    gatherer.graph[document.getElementById("graph").value].sensor = {};
    gatherer.graph[document.getElementById("graph").value].name = name;
   // gatherer.graph[document.getElementById("graph").value].selected = "";
    g.selected = "";
    gatherer.graph[document.getElementById("graph").value].daysData = ".5";
    gatherer.graph[document.getElementById("graph").value].daysDataResolution = "avg1";
    gatherer.graph[document.getElementById("graph").value].details = 2;
    refreshavailablesensors();
}
function refreshNewGraph()
{
    refreshavailablesensors();
    document.getElementById("title").innerHTML=gatherer.graph[document.getElementById("graph").value].name;

    g.drawMain();
    g.drawOverview();
    refreshbuttons();
    graphItemsOnChange();
}
function removeItemFromGraph(){
delete gatherer.graph[document.getElementById("graph").value].sensor[document.getElementById("graphitems").value]
    //document.getElementById("graphitems").remove(document.getElementById("graphitems").selectedIndex);
    refreshNewGraph();
    //refreshbuttons();

}
function setGraphFromName(name){
    if ( name == 'undefined')

    {

        return 0;}
    for (graph in gatherer.graph){

         if (gatherer.graph[graph].name ==  name){

            return graph
             break;


         }

     }
    return -1;

}
function nameChange()
{
    gatherer.graph[document.getElementById("graph").value].name= event.srcElement.innerHTML;
    refreshavailablesensors();
}
function details(){
    if (gatherer.graph[document.getElementById("graph").value].details == undefined)
    {
        gatherer.graph[document.getElementById("graph").value].details = 0;
    }
    gatherer.graph[document.getElementById("graph").value].details +=1;
    if (gatherer.graph[document.getElementById("graph").value].details > 3){
        gatherer.graph[document.getElementById("graph").value].details = 0;
    }

    refreshbuttons();
    g.drawMain();
            }
</script>