<!DOCTYPE HTML>

<script src="/javascripts/level451web.js"> </script>
<script src="/javascripts/screen.js"> </script>
<script src="/javascripts/ReconnectingWebsocket.js"> </script>

<html>
<head>
    <%=title%>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>
<body>
<div>
<button onclick="websocket.send('r 3 59 0 0 0 0 0 0 0 0 0\n');">3 ALL</button>
<button onclick="savesettings()">Save</button>
</div>


<div class="sensorinfo">
<select ID="selectedgatherer" onchange="validateselectedgatherer(this)">
<%for (var prop in gathererSettings.id){%>
<option value =<%=prop%>><%=gathererSettings.id[prop].name+"("+prop+")"%></option>
<%}%>
</select>
<button onclick="addnewgatherer()">New</button>
    <button onclick="savegatherer()">Save</button>
<div  class="sensorinfo" id="editsettings">
    ID <input id="ID" class="edit" value="<%=1%>" onblur="validateid(this)">
    Name <input id="NAME" class="edit" value="<%=gathererSettings.id[1].name%>" onblur="validatename(this)">
</div>

</div>
<div class="sensorinfo" height="250px" id="gauges">
    Sensors
<p class="sensorinfo">Sensor Info Div</p>
</div>
</body>
</html>

<script>
 function validateselectedgatherer(x){
     document.getElementById("ID").value= x.value;
     document.getElementById("NAME").value= gatherer.id[x.value].name;

 }

function validateid(x){
    if (x.value > 255 || x.value < 1){
        console.log(x);
        x.value=document.getElementById("selectedgatherer").value
        alert("ID Must be between 1 and 255");
        return;
    }
        document.getElementById("selectedgatherer").value = x.value;
       if (typeof(gatherer.id[document.getElementById("ID").value]) == "object"){
        document.getElementById("NAME").value=gatherer.id[document.getElementById("ID").value].name;
        return;
       }else
    { document.getElementById("NAME").value="Enter Name"
    }

    if (typeof(gatherer.id[document.getElementById("ID").value]) != "object"){
        gatherer.id[document.getElementById("ID").value]={};
        gatherer.id[document.getElementById("ID").value].name=document.getElementById("NAME").value;
        savesettings();
        refreshselectedgatherer();

    }

    document.getElementById("selectedgatherer").value = x.value;
}
function validatename(x){
    if (x.value.trim().length == 0){
       // x.value=document.getElementById("selectedgatherer").value.text.trim().substr(0,10);
        x.value=document.getElementById("selectedgatherer").options[document.getElementById("selectedgatherer").selectedIndex].text;

        alert("Name Cannot Be Empty");
    }
    x.value = x.value.trim().substr(0,10);
    if (typeof(gatherer.id[document.getElementById("ID").value]) != "object"){
        gatherer.id[document.getElementById("ID").value]={};
    }
    gatherer.id[document.getElementById("ID").value].name=document.getElementById("NAME").value;
    savesettings();
    refreshselectedgatherer();
    document.getElementById("selectedgatherer").value = document.getElementById("ID").value;
}
function refreshselectedgatherer(){
    var temp=""
    for (var prop in gatherer.id)
    {
        temp = temp+'<option value ="'+prop+'">'+gatherer.id[prop].name+'('+prop+')'+'</option>'

    }


    document.getElementById("selectedgatherer").innerHTML=temp;


}

function addnewgatherer(){
    var id=document.getElementById("ID");
    var name=document.getElementById("NAME");
    id.value="";
    name.value=""
}
    function onload(){
        WebSocketSetup(); // start the websocket
      //  loadscreen(); //init lcd screen canvas
    }
    var gatherer=<%-JSON.stringify(gathererSettings)%>; // load the settings from the setting collection
    window.addEventListener("load",onload, false);
</script>
<style>
div.sensorinfo
{
    border-style:solid;
    border-width:1px;
}

</style>